.jswork3 {
  font-size: 8px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
 .key {
    border: .4em solid black;
    border-radius: .5em;
    margin: 1em;
    font-size: 1.5em;
    padding: 1em .5em;
    transition: all .07s ease;
    width: 10em;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5em black;
  }
  
 .playing {
    transform: scale(1.1);
    border-color: #d70ee9;
    box-shadow: 0 0 1em #d70ee9;
  }
  
  kbd {
    display: block;
    font-size: 4em;
  }
  
 .sound {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #ffc600;
  }
}